@using MagicVilla_VillaAPI.Models;
@model Villa

<form asp-action="DeleteVilla" method="post">
    <div class="container border p-3">
        <h1 class="text-primary">Delete Villa</h1><hr />
        <div class="row">

            <input asp-for="Id" type="hidden" />
            <div class="col-2">
                <label asp-for="Name" class="control-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input disabled asp-for="Name" class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="Rate" class="control-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input disabled asp-for="Rate" class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="Details" class="control-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea disabled asp-for="Details" class="form-control" rows="5"></textarea>
            </div>

            <div class="col-2">
                <label asp-for="Occupancy" class="control-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input disabled asp-for="Occupancy" class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="ImageUrl" class="control-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input disabled asp-for="ImageUrl" class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="Sqft" class="control-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input disabled asp-for="Sqft" class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="Amenity" class="control-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea disabled asp-for="Amenity" class="form-control"></textarea>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="IndexVilla" asp-controller="Villa" class="btn-primary btn form-control">Back to List</a>
            </div>
            <div class="col-5">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
        </div>
    </div>
</form>
